*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;  
   font-family: "Roboto", sans-serif;
}

body{
  background-color: #1B1726;
}

.container{
    width: 100%;
    height: auto;
   
    /* background-color: red; */
}

