.main4{
    width: 100%;
    height: auto;
    /* background-color: red;   */
    margin-top: 100px;
    display: flex;
    justify-content: center;
  
}

.main4Coverer{
    width: 80%;
    height: auto;
    /* background-color: pink; */
}

.main4CovererContainer1{
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    color: rgb(103, 103, 103);
    margin-bottom: 40px;
}

.main4CovererContainer2{
    width: 70%;
    font-size: 56px;
    line-height: 78px;
    font-weight: 600;
    color: white;
    /* background-color: green; */
}


.main4CovererContainer2 span{
    color: blue;
}

.main4CovererContainer3{
    width: 100%;
    height: auto;
    display: flex;
    gap: 70px;
    padding:70px 40px;
   
}

.main4CovererContainer3Box1{
    width: 123px ;
    height: 171px;
    display: flex;
   align-items: center;
   justify-content: center;
    font-size: 69px;
    line-height: 69px;
    color: rgb(221, 251, 68);
    font-weight: 600;
    border: 1px solid #777777;
    border-radius:10px;
    /* padding: 20px; */
}

.main4CovererContainer3Box2{
    width: 123px ;
    height: 171px;
    display: flex;
   align-items: center;
   justify-content: center;
    font-size: 48px;
    line-height: 62px;
    color: rgb(221, 251, 68);
    font-weight: 600;
margin-left: 30px;
    /* padding: 20px; */
}

.main4CovererContainer4{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
    padding-bottom: 150px;
    /* background-color: pink; */
}

.main4CovererContainer4Box1{
color: rgb(95, 51, 255);
width: 190px;
font-weight: 600;
font-size: 20px;
line-height: 26px;
/* background-color: green; */
border-bottom: 1px solid rgb(95, 51, 255);
border-bottom-style: dotted;
}

.main4CovererContainer4Box2{
width: 395px;
color: white;
font-weight: 600;
font-size: 20px;
line-height: 26px;
}

@media (width<1224px) {
.main4Coverer{
    /* overflow: hidden; */
}

    .main4CovererContainer1{
        text-align: center;
        
    }

    .main4CovererContainer2{
        text-align: center;
        width: 100%;
    }

    .main4CovererContainer3{
        flex-direction: column;
        gap: 26px;
    }

    .main4CovererContainer3Box1{
        width: 100%;
    }

    .main4CovererContainer3Box2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        margin-top: 10px;
    }

    .main4CovererContainer4{
        flex-direction: column;
        padding: 0px 10px 0px 10px;
        gap: 30px;
    }

    .main4CovererContainer4Box1{
        width: 100%;
        height: 65px;
        /* background-color: pink; */
    }

    .main4CovererContainer4Box2{
        width: 100%;
        height: auto;
    }
}